@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

body {
  background-color:#BCA57B ;
}


.img-area{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.single-img {
  padding: 0 20px 20px;
}

img:hover {
  opacity: .5;
  transition: .5s;
}

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-weight: bold;
}

.copyright {
  color: black;
  
}


.header-elements {
  padding: 1rem 2rem;
}

.title {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Mynerve', cursive;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

header nav ul li a {
  color: lightgray;
}

header nav ul li a:hover {
  color: tomato;
}

nav ul li a {
  color: tomato;
  text-decoration: none;
}

nav ul li a:hover {
  color: lightgray;
  text-decoration: none;
}

h1 {
  font-size: 72px;
  font-family: 'Mynerve', cursive;
  color: tomato;
  margin-top: 30px;
  margin-bottom: 5px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Mynerve', cursive;
}